footer > a {
  text-decoration: none;
  background: -webkit-linear-gradient(#eee, rgb(165, 74, 244));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer {
  letter-spacing: 2px;
  margin-top: auto;
}
